In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/total_data/all.csv", index_col=0)

In [4]:
df.columns

Index(['その他', '出生', '区名', '増減人口', '差', '差.1', '日付', '死亡', '転入', '転出'], dtype='object')

In [15]:
colnames= ['区名',]

    その他    出生    区名  増減人口    差   差.1          日付    死亡     転入     転出
0  -517  1963    総数  1578 -393  1971  2015-11-01  2356  16422  13934
1  -164   107    北区   154   42   112  2015-11-01    65   1173    897
2    -2    62   都島区    -5  -31    26  2015-11-01    93    500    472
3    -6    81   福島区    65   35    30  2015-11-01    46    472    436
4    -1    46   此花区   -17   -8    -9  2015-11-01    54    246    254
..  ...   ...   ...   ...  ...   ...         ...   ...    ...    ...
20  -14    52  住之江区    -1  -86    85  2020-05-01   138    708    609
21   12   101   住吉区    20  -57    77  2020-05-01   158   1009    944
22   -8    84  東住吉区   324  -48   372  2020-05-01   132   1200    820
23   16   107   平野区  -277 -112  -165  2020-05-01   219    965   1146
24  -37    34   西成区    78 -164   242  2020-05-01   198   1196    917

[1350 rows x 10 columns]

In [16]:
df

,Unnamed: 10,Unnamed: 9,その他,出生,区名,増減人口,差,差.1,日付,死亡,転入,転出
0,NaN,NaN,-517,1963,総数,1578,-393,1971,2015-11-01,2356,16422,13934
1,NaN,NaN,-164,107,北区,154,42,112,2015-11-01,65,1173,897
2,NaN,NaN,-2,62,都島区,-5,-31,26,2015-11-01,93,500,472
3,NaN,NaN,-6,81,福島区,65,35,30,2015-11-01,46,472,436
4,NaN,NaN,-1,46,此花区,-17,-8,-9,2015-11-01,54,246,254
...,...,...,...,...,...,...,...,...,...,...,...,...
20,NaN,NaN,-14,52,住之江区,-1,-86,85,2020-05-01,138,708,609
21,NaN,NaN,12,101,住吉区,20,-57,77,2020-05-01,158,1009,944
22,NaN,NaN,-8,84,東住吉区,324,-48,372,2020-05-01,132,1200,820
23,NaN,NaN,16,107,平野区,-277,-112,-165,2020-05-01,219,965,1146
24,NaN,NaN,-37,34,西成区,78,-164,242,2020-05-01,198,1196,917